Repository tonybolanyo/chordme: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

Update frontend/src/components/FirebaseAuth/FirebaseEmailForm.test.tsx
  frontend/src/components/FirebaseAuth/FirebaseEmailForm.test.tsx
Due: none

Fix port configuration in railway.toml
  railway.toml
Due: none

Update Python commands to use python3 and pip3
  railway.toml
Due: none

Update Python commands to use python3
  nixpacks.toml
Due: none

Fix Python command in Railway configuration
  railway.toml
Due: none

Fix buildCommand syntax in railway.toml
  railway.toml
Due: none

Update pip package reference in nixpacks.toml
  nixpacks.toml
Due: none

Potential fix for code scanning alert no. 180: Disallow unused variables
  frontend/src/components/StorageIndicator/StorageIndicator.test.tsx
Due: none

Potential fix for code scanning alert no. 183: Disallow unused variables
  frontend/src/components/UndoRedoControls/UndoRedoControls.test.tsx
Due: none

Update frontend/src/components/HistoryPanel/HistoryPanel.test.tsx
  frontend/src/components/HistoryPanel/HistoryPanel.test.tsx
Due: none

Update backend/tests/test_collaboration_integration.py
  backend/tests/test_collaboration_integration.py
Due: none

Clean up README.md by removing metadata
  README.md
Due: none

Potential fix for code scanning alert no. 193: Disallow unused variables
  frontend/src/pages/Profile/Profile.tsx
Due: frontend

Potential fix for code scanning alert no. 194: Disallow the `any` type
  frontend/src/pages/Profile/Profile.tsx
Due: frontend

Potential fix for code scanning alert no. 196: Disallow the `any` type
  frontend/src/pages/Profile/Profile.tsx
Due: frontend

Potential fix for code scanning alert no. 197: Disallow the `any` type
  frontend/src/services/api.ts
Due: frontend

Update frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/Profile/Profile.tsx
Due: frontend

Potential fix for code scanning alert no. 198: Disallow the `any` type
  frontend/src/services/api.ts
Due: frontend

Potential fix for code scanning alert no. 201: Disallow the `any` type
  frontend/src/pages/Profile/Profile.tsx
Due: frontend

Potential fix for code scanning alert no. 203: Bad HTML filtering regexp
  backend/tests/test_standalone_coverage.py
Due: none

Update backend/tests/test_utils.py
  backend/tests/test_utils.py
Due: none

Update backend/tests/test_error_codes_coverage.py
  backend/tests/test_error_codes_coverage.py
Due: none

Fix newline at end of file for config.template.py
  backend/config.template.py
Due: none

Potential fix for code scanning alert no. 893: Information exposure through an exception
  backend/chordme/metadata_routes.py
Due: backend

Potential fix for code scanning alert no. 1054: Disallow the `any` type
  frontend/src/components/ContentSystem/ContentSubmissionForm.tsx
Due: frontend

Potential fix for code scanning alert no. 1056: Disallow the `any` type
  frontend/src/pages/ContentSubmissionPage.tsx
Due: frontend

Potential fix for code scanning alert no. 1057: Disallow the `any` type
  frontend/src/services/contentService.ts
Due: frontend

Potential fix for code scanning alert no. 1055: Disallow the `any` type
  frontend/src/components/ContentSystem/ContentSubmissionForm.tsx
Due: frontend

Potential fix for code scanning alert no. 1058: Bad HTML filtering regexp
  backend/chordme/utils.py
  backend/requirements.txt
Due: backend

Update frontend/src/components/ContentSystem/ContentSubmissionForm.tsx
  frontend/src/components/ContentSystem/ContentSubmissionForm.tsx
Due: frontend

Update frontend/src/services/contentService.ts
  frontend/src/services/contentService.ts
Due: frontend

Update backend/chordme/content_routes.py
  backend/chordme/content_routes.py
Due: backend

docs: add GitHub Actions documentation in English and Spanish
  docs/actions-es.md
  docs/actions.md
  docs/index-es.md
  docs/index.md
Due: none

Potential fix for code scanning alert no. 1049: Uncontrolled command line
  backend/chordme/database_backup.py
Due: backend

chore(backend): update Python dependencies
  backend/requirements.txt
Due: backend

Potential fix for code scanning alert no. 1083: Disallow the `any` type
  frontend/src/components/AdvancedFilterPanel/AdvancedFilterPanel.test.tsx
Due: none

chore(frontend): update npm dependencies
  frontend/package-lock.json
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/*.spec.ts, **/*.spec.tsx, **/*.spec.py, */test_*, */tests/*, frontend/vite.config.ts, frontend/eslint.config.js, backend/pytest.ini, backend/config.template.py, backend/test_config.py, integration-tests/pytest.ini, **/node_modules/, **/dist/, **/build/, **/__pycache__/, **/*.pyc
  frontend: any of: frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/*.spec.ts, **/*.spec.tsx, **/*.spec.py, */test_*, */tests/*, frontend/vite.config.ts, frontend/eslint.config.js, backend/pytest.ini, backend/config.template.py, backend/test_config.py, integration-tests/pytest.ini, **/node_modules/, **/dist/, **/build/, **/__pycache__/, **/*.pyc
  integration: any of: integration-tests/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/*.spec.ts, **/*.spec.tsx, **/*.spec.py, */test_*, */tests/*, frontend/vite.config.ts, frontend/eslint.config.js, backend/pytest.ini, backend/config.template.py, backend/test_config.py, integration-tests/pytest.ini, **/node_modules/, **/dist/, **/build/, **/__pycache__/, **/*.pyc
