Repository tonybolanyo/chordme: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

Update package.json
  package.json
Due: none

Update integration-tests/pytest.ini
  integration-tests/pytest.ini
Due: none

Update ci.yml includes codecov setup
  .github/workflows/ci.yml
Due: none

Update backend-ci.yml
  .github/workflows/backend-ci.yml
Due: none

Update frontend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Create eslint.yml
  .github/workflows/eslint.yml
Due: none

Potential fix for code scanning alert no. 26: Workflow does not contain permissions
  .github/workflows/release.yml
Due: none

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

Update render.yaml
  render.yaml
Due: none

Update scripts/sync-version.sh
  scripts/sync-version.sh
Due: none

Potential fix for code scanning alert no. 25: Workflow does not contain permissions
  .github/workflows/update-api-docs.yml
Due: none

Update README.md
  README.md
Due: none

Update docs/_sass/custom.scss
  docs/_sass/custom.scss
Due: none

Update docs/swagger.json
  docs/swagger.json
Due: none

Auto-update API documentation [skip ci]
  docs/README.md
  docs/swagger.json
Due: none

Auto-update API documentation [skip ci]
  docs/README.md
Due: none

Update frontend/src/utils/index.test.ts
  frontend/src/utils/index.test.ts
Due: none

Potential fix for code scanning alert no. 35: Disallow invocation of `require()`
  frontend/src/main.test.tsx
Due: none

Potential fix for code scanning alert no. 36: Disallow unused variables
  frontend/src/services/api.ts
Due: frontend

Potential fix for code scanning alert no. 37: Disallow unused variables
  frontend/src/services/firestore.ts
Due: frontend

Update frontend/src/test/firebase-integration.test.ts
  frontend/src/test/firebase-integration.test.ts
Due: none

Update frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Home/Home.tsx
Due: frontend

Potential fix for code scanning alert no. 45: Disallow unused variables
  frontend/src/services/storagePreference.ts
Due: frontend

Update backend/chordme/google_drive_service.py
  backend/chordme/google_drive_service.py
Due: backend

Potential fix for code scanning alert no. 120: Binding a socket to all network interfaces
  integration-tests/test_version_history_integration.py
Due: none

Update backend/chordme/pdf_generator.py
  backend/chordme/pdf_generator.py
Due: backend

Update frontend/src/components/PDFExportModal.tsx
  frontend/src/components/PDFExportModal.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/*.spec.ts, **/*.spec.tsx, **/*.spec.py, */test_*, */tests/*, frontend/vite.config.ts, frontend/eslint.config.js, backend/pytest.ini, backend/config.template.py, backend/test_config.py, integration-tests/pytest.ini, **/node_modules/, **/dist/, **/build/, **/__pycache__/, **/*.pyc
  frontend: any of: frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/*.spec.ts, **/*.spec.tsx, **/*.spec.py, */test_*, */tests/*, frontend/vite.config.ts, frontend/eslint.config.js, backend/pytest.ini, backend/config.template.py, backend/test_config.py, integration-tests/pytest.ini, **/node_modules/, **/dist/, **/build/, **/__pycache__/, **/*.pyc
  integration: any of: integration-tests/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.py, **/*.spec.ts, **/*.spec.tsx, **/*.spec.py, */test_*, */tests/*, frontend/vite.config.ts, frontend/eslint.config.js, backend/pytest.ini, backend/config.template.py, backend/test_config.py, integration-tests/pytest.ini, **/node_modules/, **/dist/, **/build/, **/__pycache__/, **/*.pyc
